<h2>質問投稿</h2>


<%= form_with model: @question, url: questions_path,local: true,class: "form-group" do |f| %>
<div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, placeholder:"タイトル" %>
</div>

<div class="form-group" >
    <%= f.label :content %>
    <%= f.text_area :content,class:"form-control",placeholder:"質問内容" %>
</div>
    
  <div class="actions">
   <%= f.submit "質問投稿" ,class:"btn btn-primary"%>
  </div>
<% end %>

<%= link_to '戻る', questions_path %>
