<h2>新規登録</h2>


<%= form_with model: @user,local: true,class: "form-group" do |f| %>

<div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",id:"exampleInputEmail1", placeholder:"メールアドレス" %>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>

<div class="form-group" >
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control", id:"exampleInputPassword1" ,placeholder:"パスワード" %>
</div>
    
    <div class="form-group" >
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" ,id:"exampleInputPassword1" ,placeholder:"パスワード（確認）" %>
  </div>

  <div class="actions">
   <%= f.submit "新規登録" ,class:"btn btn-primary"%>
  </div>
<% end %>
