<h1>管理者専用ページ</h1>

<table class="table">
 <thead>
  <tr>
   <th></th>
   <th>ニックネーム</th>
   <th colspan="3"></th>
  </tr>
 </thead>

 <tbody>
  <% @users.each do |user| %>
    <tr>
      <th>
        <% if user.image.attached? %> 
            <%= image_tag user.image,class:"rounded-circle",widt:"50", height:"50" %>
        <% else %>
            <%= image_tag "no_image.jpeg",class:"rounded-circle",widt:"50", height:"50" %>
        <% end %>
      </th>
      <th><%= user.name %></th>
      <th><%= link_to "詳細", user_path(user.id) %></th>

      <th><%= link_to "ユーザー削除（管理者専用）", admins_user_path(user),method: :delete,data:{confirm:"本当に削除しますか？"}%></th>
      
    </tr>
  <% end %>
 </tbody>
</table>

<%#= link_to '戻る', admin_questions_path %>